body header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}
body header #header-container {
  width: 100%;
  padding: 10pt;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  body header #header-container {
    width: 77%;
  }
}
body header #header-container #addTaskButton {
  background-color: #46a746;
  transition: transform 0.1s ease, background-color 0.1s ease;
  color: white;
  border: none;
  border-radius: 4pt;
  width: 70px;
  height: 70px;
}
body header #header-container #addTaskButton .fas {
  font-size: 20pt;
}
body header #header-container #addTaskButton:active {
  background-color: #296f29;
}
body header #header-container #addTaskButton:hover {
  transform: scale(110%);
}

body main {
  flex-grow: 1;
  color: black;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body main::-webkit-scrollbar {
  width: 15px;
}
body main::-webkit-scrollbar-track {
  background: #1e1e1e;
}
body main::-webkit-scrollbar-thumb {
  background: #666;
}
body main::-webkit-scrollbar-thumb:hover {
  background: #444;
}
body main #tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body main #tasks-container {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  body main #tasks-container {
    width: 80%;
  }
}
body main #tasks-container .task {
  display: grid;
  grid-template-areas: "one two three four" "five six seven eight" "nine ten eleven twelve";
}
body main #tasks-container .task .complete-button {
  grid-area: four;
}
body main #tasks-container .task .description {
  grid-area: one/one/span 3/span 2;
}
body main #tasks-container .task .other-info {
  grid-area: seven/seven/span 2/span 2;
}
body main #tasks-container .task .trash-button {
  grid-area: three;
}
body main #tasks-container .task {
  background-color: #585858;
  border-radius: 4pt;
}
body main #tasks-container .task .description {
  padding: 5pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #tasks-container .task .description .desc-title {
  font-size: 0.9rem;
  padding-right: 5pt;
  color: #aeaeae;
}
body main #tasks-container .task .description .desc-text {
  font-size: 0.9rem;
  color: white;
}
body main #tasks-container .task .complete-button {
  background-color: #46a746;
  border-radius: 4pt;
  margin: 10pt;
  width: 40px;
  height: 40px;
  border: none;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
body main #tasks-container .task .complete-button .fas {
  color: white;
}
body main #tasks-container .task .complete-button:hover {
  transform: scale(120%);
}
body main #tasks-container .task .complete-button:active {
  background-color: #296f29;
}
body main #tasks-container .task .other-info {
  min-width: 100px;
  margin: 10pt;
  display: flex;
  flex-direction: column;
  gap: 3pt;
  font-size: 0.75rem;
  color: #aeaeae;
}
body main #tasks-container .task .trash-button {
  background-color: #2f2f2f;
  border-radius: 4pt;
  border: none;
  margin: 10pt;
  width: 40px;
  height: 40px;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
body main #tasks-container .task .trash-button .fas {
  color: white;
}
body main #tasks-container .task .trash-button:hover {
  transform: scale(120%);
}
body main #tasks-container .task .trash-button:active {
  background-color: #0c0c0c;
}
body main #tasks-container #current-container {
  width: 90%;
  margin: 10pt;
}
@media screen and (min-width: 768px) {
  body main #tasks-container #current-container {
    width: 50%;
  }
}
body main #tasks-container #current-container #current-title {
  padding: 5pt;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
}
body main #tasks-container #current-container #current-tasks {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}
body main #tasks-container #finished-container {
  width: 90%;
  margin: 10pt;
}
@media screen and (min-width: 768px) {
  body main #tasks-container #finished-container {
    width: 50%;
  }
}
body main #tasks-container #finished-container #finished-title {
  padding: 5pt;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
}
body main #tasks-container #finished-container #finished-tasks {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

body footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}
body footer #footer-container {
  width: 100%;
  padding: 10pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5pt;
}
@media screen and (min-width: 768px) {
  body footer #footer-container {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  body footer #footer-container {
    width: 70%;
  }
}
body footer #footer-container a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 10pt;
  padding: 5pt;
  border-radius: 4pt;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}
@media screen and (min-width: 768px) {
  body footer #footer-container a {
    margin-left: 0;
  }
}
body footer #footer-container a .fab,
body footer #footer-container a .fas {
  font-size: 1.4em;
  margin-right: 5pt;
}
body footer #footer-container a:hover, body footer #footer-container a:active {
  transform: scale(110%);
  background-color: white;
  color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
body .prio-high {
  font-weight: bolder;
  color: #ff8c8c;
}
body .prio-mid {
  font-weight: bold;
  color: #eecf44;
}
body .prio-low {
  font-weight: normal;
  color: #82d061;
}

/*# sourceMappingURL=main.css.map */
