@use "mixins";

body {
    main {
        flex-grow: 1;

        color: black;
        background-color: rgb(61, 61, 61);
        display: flex;
        justify-content: center;

        // TODO ADD SCROLL FOR MIDDLE SECTION
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(30, 30, 30);
        }

        &::-webkit-scrollbar-thumb {
            background: #666;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #444;
        }

        #tasks-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10pt;
            gap: 10pt;
            width: 100%;

            @include mixins.tablets {
                flex-direction: row;
                align-items: flex-start;
            }

            @include mixins.desktop {
                width: 80%;
            }

            // LAYOUT
            .task {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 1fr 50px 70px;
                grid-template-rows: 70px 1fr;
                grid-template-areas:
                    "one two three four"
                    "five six seven eight";

                .complete-button,
                .undo-button {
                    grid-area: four;
                }

                .trash-button {
                    grid-area: three;
                }

                .description {
                    grid-area: one / one / span 2 / span 2;
                }

                .other-info {
                    grid-area: seven / seven / span 1 / span 2;
                }

                @include mixins.tablets {
                    grid-template-columns: 1fr 120px 50px 70px;
                    .complete-button,
                    .undo-button {
                        grid-area: four / four / span 2 / span 1;
                    }

                    .trash-button {
                        grid-area: three / three / span 2 / span 1;
                    }

                    .description {
                        grid-area: one / one / span 2 / span 1;
                    }

                    .other-info {
                        grid-area: two / two / span 2 / span 1;
                    }
                }
            }

            // STYLING
            .task {
                background-color: rgb(88, 88, 88);
                border-radius: 4pt;

                .description {
                    padding: 5pt;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .desc-title {
                        font-size: 0.9rem;
                        padding-right: 5pt;
                        color: rgb(174, 174, 174);
                    }

                    .desc-text {
                        font-size: 0.9rem;
                        color: white;
                    }
                }

                .undo-button {
                    background-color: rgb(200, 60, 60);
                    @extend %actionButton;
                    &:active {
                        background-color: rgb(100, 50, 50);
                    }
                }

                .complete-button {
                    background-color: rgb(70, 167, 70);
                    @extend %actionButton;
                    &:active {
                        background-color: rgb(41, 111, 41);
                    }
                }

                .other-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    margin-bottom: 7pt;
                    @include mixins.tablets {
                        margin-bottom: 5pt;
                        margin-top: 5pt;
                    }

                    gap: 4pt;

                    font-size: 0.75rem;
                    color: rgb(174, 174, 174);
                    text-align: center;

                    @include mixins.tablets {
                        text-align: start;
                    }
                }

                .trash-button {
                    background-color: rgb(47, 47, 47);
                    border-radius: 4pt;
                    border: none;
                    margin: 10pt;
                    width: 40px;
                    height: 40px;
                    transition: transform 0.1s ease, background-color 0.1s ease;

                    .fas {
                        color: white;
                    }

                    &:hover {
                        transform: scale(120%);
                    }

                    &:active {
                        background-color: rgb(12, 12, 12);
                    }
                }
            }

            #current-container {
                width: 100%;

                @include mixins.tablets {
                    width: 50%;
                }

                #current-title {
                    padding: 5pt;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 1.4rem;
                }

                #current-tasks {
                    display: flex;
                    flex-direction: column;
                    gap: 10pt;
                }
            }

            #finished-container {
                width: 100%;

                @include mixins.tablets {
                    width: 50%;
                }

                #finished-title {
                    padding: 5pt;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 1.4rem;
                }

                #finished-tasks {
                    display: flex;
                    flex-direction: column;
                    gap: 10pt;
                }
            }
        }
    }
}
