@use "header";
@use "middle";
@use "footer";

body {
    height: 100vh;

    padding: 0;
    margin: 0;

    font-size: 12pt;

    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

    .prio-high {
        font-weight: bolder;
        color: rgb(255, 140, 140);
    }

    .prio-mid {
        font-weight: normal;
        color: rgb(238, 207, 68);
    }

    .prio-low {
        font-weight: lighter;
        color: rgb(130, 208, 97);
    }
}
